/** side content **/
.titleList {
  font-size: 13px;
  color: #999;
  line-height: 28px;
  font-family: "HelveticaNeueLTProLt";
  margin-top:-0.6px;
}
.mainCont{
  height:100vh;
}
.mediaT {
  font-size: 14px;
  color: #979494;
  line-height: 39px;
}
.hTitle {
  color: #999;
  border-top: 1px solid #999;
  padding-top: 8.6px;
  margin: 60px 0 54.5px;
  font-family: "HelveticaNeueLTProLt";
  font-size:24px;
}
.title{
  
}
.title.SideT {
  background: #333;
  padding: 0 44px;
  white-space: nowrap;
  color:#999;
  font-size:33px;
  font-family: "HelveticaNeueLTProRoman";
  height:120px;
}
.SideT:hover {
  color:#fff;
}
.SideT:hover .plus{
  opacity:1;
}

.contents {
  padding: 0 24px;
  font-size:24px;
}
.contentData {
  margin-top: 21px;
  font-family: "HelveticaNeueLTProLt";
  font-size: 16px;
  color:#999;
}
.contentOneData {
  margin-top: 40px;
  font-family: "HelveticaNeueLTProLt";
  padding-bottom:16.5px;
  color:#999;

}
.plus {
  font-size: 50px;
  font-weight: 100;
  font-family: "HelveticaNeueLTProRoman";
  padding-right: 25px;
  margin-left: 3px;
  opacity:0.5
}
.plus:hover {
 opacity:1;
}
.rightPlus {
  font-size: 22px;
  font-family: "HelveticaNeueLTProLt";
  color:#999;
  margin-top:-2px;
}
.rightMinus {
  height: 32px;
  width: 32px;
  position: relative;
  display: block;
  margin-top: -2px;
 

}

.leftListName {
  font-family: "HelveticaNeueLTProLt";
  font-size: 18px;
}
.contentName{
  font-family: "HelveticaNeueLTProLt";
  font-size: 16px;
}
.title {
  background: #404040;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #999;
  cursor: pointer;
}
.title:hover{
  color: #fff;
 
}
.title.titleHeading {
  font-family: "HelveticaNeueLTProRoman";
  padding: 0 50px 0 48px;
  height:120px;
  font-size:33px;
  columns: #818181;
}
.titleHeading:hover > img{
  color:#fff;
  opacity:1;
}

/** home **/
.recentContent {
  border-top: 1px solid #ec1b2e;
  cursor: pointer;
  overflow: hidden;
}

.minus {
  flex: 1;
  text-align: right;
  font-size: 2em;
}
.listOfContent {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 52px 48px;
  font-family: "HelveticaNeueLTProLt";
}
.navdataTop{
  padding-bottom:5px;
}
.grayTitle {
  font-size: 18px;
  color: #808088;
  font-family: "HelveticaNeueLTProLt";
  margin-top:1px;
}
.imgHome {
  /* width: 128%; */
  height: 100%;
  object-fit: cover;
  cursor: pointer;

  /* object-position: 60% 100%; */
}
.recentContent:hover .imgHome{
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  /* width: 128%; */

  /* height: 100%; */
  object-fit: cover;
  z-index:-1;
  transform-origin: center;
}

/* .imgHomeWrapper:hover + .listOfContent {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  /* width: 128%; */

  /* height: 100%; */

  /* object-fit: cover;
  z-index:-1;
  transform-origin: top left; 
} */
.imgHomeWrapper:hover {
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

  /* width: 128%; */

  /* height: 100%; */
  object-fit: cover;
  z-index:-1;
  transform-origin: center;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.08);
            transform: scale(1.08);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}
.contentBox:hover .imgs{
 
}
.contentBox:hover .maintitle, .contentTitle.active .maintitle{
   color: #fff;
}
.iconArrowR {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 2.5em;
  cursor: pointer;
  color: #c9c8c8;
  opacity: 0.6;
}

.customMinus {
opacity:0.5;
  width: 24px;
  position: relative;
  display: block;
  margin-left: auto;
  color:#c9c8c8;
}
 .title > span {
 color: #fff;

}
.mainContnav{
  background-color: #1F2224;
}
.customMinus::after {
  content: "";
  display: block;
  height: 21.5px;
  width: 21.5px;
  border: 2px solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  position: absolute;
  top: 9px;
  right: 0;
}

.customArrow {
  height: 34px;
  width: 34px;
  position: absolute;
  top: 56px;
  right: 53.5px;
  font-size: 2.5em;
  cursor: pointer;
}
.customArrow::after {
  content: "";
  display: block;
  height: 20.5px;
  width: 20.5px;
  border: 2px solid #fff;
  border-width: 2px 2px 0 0;
  transform: rotate(45deg);
  position: absolute;
  top: 9.5px;
  right: 0;
}
.customArrow::before {
  content: "";
  height: 2.3px;
  width: 30px;
  background-color: #fff;
  position: absolute;
  top: 19px;
  right: -2px;
}
.navbar {
  display: flex;
  padding: 20.48px 55px 18.54px 48px;
  align-items: baseline;
}

.navdata {
  padding: 0 20px;
  font-size: 14px;
  color: #b7b7b8;
  font-family: "ToyotaTypeBook";
}
.navlist {
  font-family: "ToyotaTypeBook";
  margin-left: 58px;
}
.navdata:hover {
  color:#fff;
  cursor: pointer;
}
p {
  display: flex;
}
.rightnavdata{
  position: absolute;
  right: 49px;
  margin-top: 0.7px;
}
.imageuser{
  /* width: 18px; //for the 2nd feedback i changed width ,but actually it is 18px in ai file  */
  width: 20.25px;
    height: 20.25px;
    margin-right: 63px;

}
.imagesearch{
  width: 18px;
  height: 18px;
  margin-right: 39px;
}
.imageminimise{
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.imagemaximise{
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.imageclose{
  width: 24px;
  height: 24px;
}
.headernext{
  /* width: 546px; */
  width: 420px;
}
.mainProj{
  display:flex;
}
.rightnavdatadark{

}
.darckbg{
  width:24px;
  height:24px;
  border-radius:50px;
  background-color: #000;
}
.instrumentCluster{
  font-family: "HelveticaNeueLTProLt";
  font-size: 18px;

}
.titleHead{
  font-family: "LinotypeHelveticaNeueLTProRoman";
  font-size: 44px;
}
.contentList{
  width:420px;
}
.imgHomeWrapper{
  width: 100%;
  height: 859px;

  /* overflow: hidden; */
  
}
.gradient{
  height: 100%;
  width: 100%;
  background-image: linear-gradient( rgba(255,0,0,0), #000);
  margin-top: -290px;
  z-index: 9999;
  position: relative;
}
.sminus{
  color:#979494;
  margin-left:5px;
}