/** home page **/

/* @media (min-width: 1200px){
  .contentBox {
      -ms-flex: 0 0 20% !important;
      flex: 0 0 20% !important;
      max-width: 20% !important;
  }
  .contentBox .imgs, .contentBox .addNewImg {
    height: 576px;
  }
} */
.contentBox{
  width: 324px;
  height: 576px;

  /* background-color: #333; */
  margin: 0 5px 20px 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;

  /* padding: 0 0px 0 15px; */
}
.listImages{
  display: flex;

    /* flex-flow: wrap; */
    margin-top:7px;
}
.imgs, .addNewImg {
  width: 324px;
  height: 576px;
  object-fit: cover;
  cursor: pointer;
}
.contentBox:hover .imgs{
  /* -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both; */
  -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 0.390) both;
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.contentBox:hover .maintitle, .contentTitle.active .maintitle{
   color: #fff;
}
.grayTitles{
  margin-top:4.6px;
  margin-left:1.80px;
}
.contentTitle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 35.5px 0 0 28.4px;
  font-size: 17px;
  color: #d5d4d9;
  cursor: pointer;
}
.contentTitle.active{
  border-top: 1px solid red;
}
.contentTitle.active .title{
  color: #fff;
}
.bottomTitle {
  position: absolute;
  bottom: 21px;
  font-size: 14px;
  color: #848d95;
  font-family:"HelveticaNeueLTProRoman";
}
.grayTitle {
  font-size: 18px;
  color: #808080;
  text-transform: capitalize;
  margin-left:19px;
  font-family:"HelveticaNeueLTProRoman";

  /* margin-top:5px; */

}
.profileiconset{
  padding-right: 3px;
  margin-top: 3px;
}
.bgCT {
    padding: 1px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: -5px;
}
.bgCT.mT{
  font-family:"HelveticaNeueLTProLt";
  font-size:18px;
  background: #55b9bb;
  z-index: 4;
  margin-top:-1px;
}
.bgCT.pT{
  font-family:"HelveticaNeueLTProLt";
  font-size:18px;
  background: #fe6f61;
  z-index: 3;
}
.bgCT.tT{
  font-family:"HelveticaNeueLTProLt";
  font-size:18px;
  background: #615a8e;
  z-index: 2;
}
.bgCT.sT{
  font-family:"HelveticaNeueLTProLt";
  font-size:18px;
  background: #394376;
  z-index: 1;
}
.iconmenuR{
  padding: 0 5px;
    color: #808080;
    cursor: pointer;
    font-size: 12px;
    opacity:0.5;
}
.iconmenuR:hover{
  opacity:1;
}
.addNewImg{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;

  /* border: 1px solid gainsboro; */
  background: #333;
  cursor: pointer;
}
.darkT {
    color: #808080;
    letter-spacing: 1px;
    padding-left: 19px;
    font-weight: 600;
    font-family:"HelveticaNeueLTProTh";
}
.lexus{
  letter-spacing: 1px;
  font-weight: 600;
  font-family:"HelveticaNeueLTProRoman";
}
.lf{
  padding-left: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-family:"HelveticaNeueLTProRoman";
}
.addNewImg .imgs{
  width: 100px;
  height: 100px;
}
.fTitle{
  width: 42%;
  font-family:"HelveticaNeueLTProRoman";
  font-size:16px;
  margin-left:1px;
}
.lopeneds{
  font-family:"HelveticaNeueLTProMd";
  font-size:12px;
  width: 20.2%;
}
.fTitleopened{
  font-family:"HelveticaNeueLTProRoman";
  font-size:16px;
  width: 20.2%;
}

.names{
  font-family:"HelveticaNeueLTProMd";
  font-size:12px;
  width: 42%;
  margin-left:1px;

}
.lEditeds{
  font-family:"HelveticaNeueLTProMd";
  font-size:12px;
  width: 20.2%;
}
.screens{
  font-family:"HelveticaNeueLTProMd";
  font-size:12px;
  width:13.6%;
}
.fTitleEdited{
  width: 20.2%;
  font-family:"HelveticaNeueLTProRoman";
  font-size:16px;
}
.fTitleScreen{
  width:13.6%;
  font-family:"HelveticaNeueLTProRoman";
  font-size:16px;
}

/** footer page **/
.listF.mainFT {
  font-size: 11px;
  font-family:"LinotypeHelveticaNeueLTProRoman";
  font-size:16px;
}

.lst{
  margin-top:69px;
  max-width:1620px;
  margin-left:2px;
}
.listF {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  font-size: 13px;
  padding: 12px 0;
  border-bottom: 1px solid #161616;
  color: #808080;
  cursor: pointer;
  white-space: nowrap;
}
.dynamicftr{
margin-top:1px;
}
.dynamicftr:hover {
  color: #fff;
}
.listF:hover {
  color: #fff;
}
.listFn {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  font-size: 13px;
  padding: 13px 0 0 0;
  color: #808080;
  cursor: pointer;
  white-space: nowrap;
}
.listFn:hover {
  color: #fff;
}

.rightMenu{
  padding-right: 0;
  padding-left: 24px;
}
.plusAddImage{
  padding-left: 15.4px;
  font-size: 26px;
  margin-top: -1px;

}

/* .rightMenualignments{
  margin-top:-8.3px;
  margin-left:-15px;
} */
.rightMenualignments{
  position: absolute;
  display: flex;
  flex-direction: row;
  right: 42px;
  text-align: center;
  border-radius: 50px;
  z-index: 5;
  height: 16px;
  transition: width 400ms;
  width: 51px;
  overflow: hidden;
  margin-top:-2.3px;

}
.rightMenualignments:hover{
  width: 205.47px;
  height: 16px;
}
.mainContainer{
padding:15.5px 39px 0 131px;
}
.profileAndCarbrand{
  display:flex;
}
.carbrand{
  width:100%;
  margin-left:20px;
  margin-top:16.5px;
}
.profileicon{
  width: 9.1%;
  margin-top: 22px;
  white-space: nowrap;
  margin-left: -21px;
  display:flex;
}
.maintitle{
  height: 3.36%;
  font-family: "HelveticaNeueLTProRoman";
  font-size:22px;
  color:#c9c8c8;
  letter-spacing: 1.5px;
  margin-left:1px;
}
.subTitle{
  font-family: "HelveticaNeueLTProLt";
  font-size:18px;
  color:#808080;
}
.reantAndRightmenu{
  margin-left:4px;
  margin-top:14px;
}
.boxcontent{
  width:323.5px;
  height:576px;
}
.ld{
  /* width: 343px; */
}
.linkstyle{
  letter-spacing: 0;
  font-family:"LinotypeHelveticaNeueLTProRoman";
  font-size:42px;
  
}


@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
  }
}

