.listofResizable{
  /* background: rgb(28, 32, 34); */
  margin-top:0;
  background-color: #272729;
  height:1004px;
  padding-top:30px;
}
.listOfImages {
  border-bottom: 0.5px solid #323232;
  border-top:0.5px solid #323232;
  border-left:0.5px solid #323232;
  height: 719px;
  overflow: hidden;
  padding: 1em;
  background: #111;;
  background-image: url(../assets/bbc.png);
  background-repeat: no-repeat;
    background-size: cover;
    margin-left:6px;
}

.mainCnt{
  width:100%;
  margin-top:8px;
  display:flex;

  /* border:1px soild grey; */
}

.imgCircle {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.title {
  font-size: 13px;

    /* margin-top: 5px; */
    color: #bcb4b4;
    text-transform: capitalize;
}
.imgList {
  width:243px;
  height: 949px;
  overflow: hidden;
  overflow-y: auto;
  background: #58595b;
  margin-left:7px;
  margin-top:-1px;
}

.btnClass {
  background: #0a0b0c;
  border: 1px solid #212529;
  color: #fff;
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 5px;
}
.disableClass {
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #0a0b0c63;
  border: 1px solid #2125296e;
  color: gray;
  cursor: not-allowed;
}
.rightnavdata .loaderSave{
    width: 16px;
    height: 16px;
    border: .10em solid currentColor;
    border-right-color: transparent;

    /* animation: spinner-border 1.5s linear infinite; */
    margin: 0 45px 0 10px;
}
.btnSubmit {
  border-top: 1px solid #212529;
  margin-top: 1em;
}
.breadCrumT {
  color: #999;
  font-size: 17px;
  letter-spacing: 2px;
}
.breadCrumT .itemT:hover{
  color: #fff;
  cursor: pointer;
}
.border {
 /* border: 1px solid #808080; */
  cursor: pointer;
  background: #212126bd;
  padding: 5px 10px;
  margin: 2px 0;
}
.iconLists {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -18.9px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid #dd303e;
  z-index: 5;
  height: 62px;
  overflow: hidden;
  background-color:#000;
}
.iconLists:hover {
  overflow: visible;
  height: 177.47px;
  -webkit-transition: height 400ms;
  transition: height 400ms;
}
.iconLists div{
  opacity: 0;
  transition: all 0.2s ease-out 0.5s;
}
.iconLists:hover div{
  opacity: 0.5;
}
.iconLists:hover div:hover{
  opacity: 1;
}
.iconLists img:nth-child(1){
  opacity: 1;
}
.iconLists:hover img:nth-child(1){
  opacity: 1;
}
.iconLists:hover div>img{
  opacity: 1;
}


.iconList {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -18.9px;
  text-align: center;
  border-radius: 50px;
  font-size: 14px;
  border: 1px solid #dd303e;
  z-index: 5;
  height: 63px;
  overflow: hidden;
  background-color:#000;
}

.iconList  img{
  opacity: 0;
  transition: all 0.2s ease-out 0.5s;
}

.iconList img:nth-child(1){
  opacity: 1;
}

.iconList:hover {
  overflow: visible;
  height: 177.47px;
  -webkit-transition: height 400ms;
  transition: height 400ms;
}

.iconList:hover img{
  opacity: 0.5;
}
.iconList.bottomIconList {
  width: 62px;
  flex-direction: row;
  top:890px;
  align-items: center;
  height: auto;
  -webkit-transition: width 400ms;
  transition: width 400ms;
}
.iconList.bottomIconList:hover {
  height: 60px;
  width: 327.47px;
}
.iconList .hoveIcon {
  background: #000;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.iconList .iconHover:hover {
  color: #fff;
}
.iconList.bottomIconList .iconHover {
  padding: 0 10px;
  margin: 0;
}
.iconList .iconHover {
  margin: 10px 0;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  opacity: 0;
}
.iconList:hover .iconHover {
  opacity: 1;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -ms-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
  transition: all 2s ease-in;
}

/** right side content **/
.tapIcon {
  display: flex;
  justify-content: space-between;
  background: #2d2d2f;
  border-top: 1px solid #dd303e;
  height:33.4px;
}
.tapIconn {
  display: flex;
  justify-content: space-between;
  background: #2d2d2f;
  border-top: 1px solid #dd303e;
  height:33.4px;
}
.mediadevice{
  padding:2px 12px 3px 12px;
  font-size:14px;
}
.mediaselect{
  margin-top:2px;
}
.ps{
  margin-left: 105px;
  margin-top:2px;
}
.mediaT {
  font-size: 11px;
    color: #bcb4b4;
    line-height: 19px;
    min-height: 130px;
    margin-top: 9px;
    margin-left:2px;
}
.mediaTL {
  font-size: 11px;
    color: #bcb4b4;
    line-height: 19px;
    min-height: 130px;
    margin-top: 7px;
    background-color: #2d2d2f;
}
.tapIcon .iconTap {
  font-size: 14px;
  padding: 9px 12.4px;
  cursor: pointer;
}
.tapIcon .iconTap:hover{
  opacity:1;
 
}
.tapIcon .iconTap.active {
  background: #58595b;
  color:#fff;
}
.tapIconn .iconTap {
  font-size: 14px;
  padding: 9px 15px;
  cursor: pointer;
}
.tapIconn .iconTap:hover{
  opacity:1;
 
}
.tapIconn .iconTap.active {
  background: #58595b;
  color:#fff;
}
.iconAdjust {
  background: #515254;
    border: 1px solid #58595b;
    display:flex;
    align-items: baseline;
}


.adjustList{
  padding: 3px 10px;
}
.mediaBody{
  position: relative;
}
.mediaBody .closeImg {
  position: absolute;
  top: 1px;
  right: -5px;
  color: #dd303e;
  font-size: 14px;
  display: none;
  z-index: 5;
}
.mediaBody:hover .closeImg {
  display: inline-block;
}

div.imageIcon{
  border: 1px solid #bcb4b4;
  width: 23px;
  height: 10px;
  border-radius: 5px 5px 0 0;
  position: absolute;
    top: 36%;
    left: 23%;
}

div.imageIconBg{
  width:40px;
  height:40px;
  background-color: #0a0b0c;
  border-radius:50px;
  position: relative;
}
.iconone{
width:60px;
height:60px;
opacity:0.5;
cursor: pointer;

}
.iconone:hover{
  opacity:1;
  cursor: pointer;

  }
.icontwo{
  /* padding: 0px 20px; */
  margin-left:20px;
  width: 60px;
  height: 10px;
  opacity:0.5;
  cursor: pointer;

}
.iconList > .icontwo:hover{
  margin-left:20px;
  width: 60px;
  height: 10px;
  opacity:1;
  cursor: pointer;

}
.iconthree{
  margin-left:40px;
  width: 34px;
  height: 32px;
  opacity:0.5;
  cursor: pointer;

}
.iconList > .iconthree:hover{
  margin-left:40px;
  width: 34px;
  height: 32px;
  opacity:1;
  cursor: pointer;

}
.iconfive{
  margin-left:40px;
  width: 52px;
  height: 10px;
  opacity:0.5;
  cursor: pointer;

}
.iconList > .iconfive:hover{
  margin-left:40px;
  width: 52px;
  height: 10px;
  opacity:1;
  cursor: pointer;

}
.iconsix{
  margin-left:40px;
  opacity:0.5;
  cursor: pointer;

}
.iconList > .iconsix:hover{
  margin-left:40px;
  opacity:1;
  cursor: pointer;

}
.iconten{
  margin-left: 49px;
  width: 60px;
  height: 60px;
  opacity:0.5;
  cursor: pointer;

}
.iconList > .iconten:hover{
  margin-left: 49px;
  width: 60px;
  height: 60px;
  opacity:1;
  cursor: pointer;

}
.iconnine{
  width: 60px;
  height: 60px;
  opacity:0.5;
  cursor: pointer;

}
.iconnine:hover{
  width: 60px;
  height: 60px;
  opacity:1;
  cursor: pointer;

}
.iconeight{
  width: 20px;
  height: 19px;
  margin: 15px;
  opacity:0.5;
  cursor: pointer;

}
.iconeight:hover{
  opacity:1;
  cursor: pointer;

}
.iconseven{
  width: 18px;
  height: 23px;
  margin: 12px 12px 12px 12px;
  opacity:0.5;
  cursor: pointer;

}
.iconseven:hover{
  opacity:1;
  cursor: pointer;

}
.toolsProperties{
  height:211px;
}
.dotIcon{
  padding:2px 7px 2px 7px;
}
.dotIconn{
  border-right:0.5px solid #58595b;
}
.dotNextIcon{
  padding: 2px 6px 2px 14px;
}
.dotNextIcon:hover{
  outline: 0.5px solid #47c324;
  outline-offset: -1px;
  background-color: rgba(71, 195, 36, 0.1);
  opacity:1;
  width:91%;
  cursor: pointer;
}
.dotNextIcong{
  padding: 2px 6px 2px 14px;
}
.dotNextIcong:hover{
  background-color: #272727;
  outline-offset: -1px;
  color:#fff;
  width:91%;
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 38px 50px 5px 48px;
  align-items: baseline;
  background-color: #272729;;
  
}
.fbrand{
  font-size:14px;
  margin-left:-2px;
}
.navdata {
  padding: 0 20px;
  font-size: 14px;
  color: #c9c8c8;
}

.navlist {
  display:flex;
  margin-left: -541px;
}
.navitems {
  display: flex;
  font-size: 18px;
    padding: 3px 24px 0 22px;
    font-family: "ToyotaTypeSemibold";
}
.navitems {
  color:#fff;
}
.rightnavdata{
  position: absolute;
  right: 50px;
  margin-top:-1px;
 
}
.tapIcond{
 width:43px;
 height:33px;
}
.rightnavdataHover{
  position: absolute;
  right: 50px;
  margin-top: -3px;
}
.imagebattery{
  width: 22px;
  height: 17px;
  margin-right: 63.3px;
  margin-top: 1.3px;

}
.imagesearch{
  width: 18px;
  height: 18px;
  margin-right: 39px;
  margin-top: 1px;
}
.imageminimise{
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.imagemaximise{
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
.imageclose{
  width: 24px;
  height: 24px;
  margin-right:-2px;
}

.tooltip {
  position: relative;
  display: inline-block;
  color:white;
  margin-top:4px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 81px;
  background-color: #999;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  bottom: 51%;
  left: 192%;
  margin-left: -60px;
  font-size: 10px;
  opacity: 0.9;

}

 /* .navitemspn:hover{
  cursor: pointer;
  
  background-image: url('../assets/projectnameh.png');
}

.navitemsc:hover{
  cursor: pointer;
  background-image: url('../assets/categoryh.png');
}
.navitemss:hover{
  cursor: pointer;
  background-image: url('../assets/stateh.png');
}  */

/* .navitemspn{
  width:40%;
}
.navitemsc{
  width:70%;
} */
.navitemss{
 cursor: pointer;
} 
.rightArrow{
  margin-top:-2px;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.lstImg{
  width:1576px;
margin-left:2px;
}
.dotNextIconn{
  padding-right:10px;
}
.bottomicons{
  display:flex;
background-color: #2d2d2f;
margin-top:509px;
padding:5px 15px;
}
.Icon3iconone{
  padding-right:22px
}
.Icon3icontwo{
  padding-right:22px
}
.Icon3iconthree{
  padding-right:63px
}
.Icon3iconfour{
  padding-right:13px
}
.toolProps{
  margin-top:30px;
}
.logoIcon{
  /* margin-top: -3px; */
}
.imageHover{
  /* width:10px;
  height:10px; */
  width: 105px;
  height: 24px;
  display: inline-block;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.logonHoverEffect .imageHover + .navbarHover {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
}
.logonHoverEffect .imageHover:hover + .navbarHover {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.logonHoverEffect:hover ~ .navlist{
  visibility: hidden;
 }
.imageuser{
  width: 18px;
    height: 20.25px;
    margin-right: 65px;

}
.navbarHover {
  display: flex;
  padding: 39px 50px 5px 42px;
  align-items: baseline;
  margin-top: -63px;
  margin-left: -42px;
}
.navlistHover {
  display:flex;
  margin-left: 75px;
}
.mediaselect:hover{
  background-image: url('../assets/dsh.png');
  cursor: pointer;
}