/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';



@font-face {
  font-family: 'HelveticaNeueLTProLt';
  src: url(assets/fonts/HelveticaNeueLTPro-Lt.ttf);
}
@font-face {
  font-family: 'HelveticaNeueLTProRoman';
  src: url(assets/fonts/HelveticaNeueLTPro-Roman.ttf);
}
@font-face {
  font-family: 'HelveticaNeueLTProTh';
  src: url(assets/fonts/HelveticaNeueLTPro-Th.ttf);
}
@font-face {
  font-family: 'HelveticaNeueLTProMd';
  src: url(assets/fonts/HelveticaNeueLTPro-Md.ttf);
}
@font-face {
  font-family: 'LinotypeHelveticaNeueLTProTh';
  src: url(assets/fonts/Linotype-HelveticaNeueLTPro-Th.ttf);
}
@font-face {
  font-family: 'LinotypeHelveticaNeueLTProLt';
  src: url(assets/fonts/Linotype-HelveticaNeueLTPro-Lt.ttf);
}
@font-face {
  font-family: 'LinotypeHelveticaNeueLTProMd';
  src: url(assets/fonts/Linotype-HelveticaNeueLTPro-Md.ttf);
}
@font-face {
  font-family: 'LinotypeHelveticaNeueLTProRoman';
  src: url(assets/fonts/Linotype-HelveticaNeueLTPro-Roman.ttf);
}
@font-face {
  font-family: 'ToyotaTypeBook';
  src: url(assets/fonts/ToyotaType-Book.ttf);
}
@font-face {
  font-family: 'ToyotaTypeSemibold';
  src: url(assets/fonts/ToyotaType-Semibold.ttf);
}
body {
  position: relative;
  color: #808080;
  height: 100vh;
  background-color: #000;

  /* background: linear-gradient(0deg, #000, rgb(28, 32, 34) 60%) no-repeat; */

  background-image: linear-gradient(0deg, #000, rgb(28, 32, 34) 70%);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, Helvetica Neue, serif;

  /* overflow-y: hidden; */
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;

  /* opacity: 0.75; */
  text-decoration: none;
}

a:hover {
  color: white;

  /* opacity: 1; */
  text-decoration: none;
  cursor: pointer;
}
.imageResize img {
  object-fit: cover;
  z-index: 1;

  /* border:1px solid #fff; */
}
.imageResize img.activeborder{
  border:1px solid red;
  z-index:initial;

  /* z-index: inherit 9999; */
}

.imageResize div {
  border: 0;
  cursor: pointer;
  position: static;
}


.imageResize .closeIcon {
  color: tomato;
  cursor: pointer;
  z-index: 1;
  font-size: 10px;
  font-weight: bold;
  background: #fff;
  width: 18px;
  height: 18px;
  padding: 3px;
  text-align: center;
  border-radius: 50%;
  display: none;
}
.imageResize div div{
  display: none;
}
.imageResize:hover .closeIcon{
  /* opacity: 0;
  visibility: hidden; */
}
.imageResize:hover div {
  display: inline-block;
}
.imageResize:hover .rotate i{
  display: none;
}

/* .imageResize:hover .rotate{
  top:-12px;
} */
.dropzone {
  /* border: 1px dotted gainsboro; */
    position: absolute;
    width: 100%;
    height: 100%;

    /* border-width: 2px; */

    /* border-color: rgb(102, 102, 102); */

    /* border-style: dashed; */
    border-radius: 5px;

    /* left: 40%; */

    /* top: 35%; */

    /* z-index: 5; */

    /* background: rgb(28, 32, 34); */
    padding: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 11px;
    cursor: pointer;
}
.dropzone:focus, a:focus{
  outline: 0;
}
.dropTitle .dragDropT{
   opacity: 0;
}

/** scroll bar **/
.scrollBar::-webkit-scrollbar
{
	width: 8px;
  background-color: rgba(0,0,0,.15);
  border-radius: 10px
}
.scrollBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgba(0,0,0,.15);
}

.scrollBar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
